@import "_variables";

body {
    background: $backgroundColor;
    color: $textColor;
    align-content: center;
    margin: 10%;
    margin-top: 0%;
}
a {
    color: $link;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active{
        color: $link;
    }
}
h1, h2{
    
    border-bottom: 1px solid $lightBackground;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0;
    border-bottom: 1px solid $lightBackground;
    border-top: 1px solid $lightBackground;
    justify-content: flex-start;
    a {
        margin-left: 2%;
        font-size: 30px;
    }
}
blockquote{
border-left: 10px solid #ccc;
background: $lightBackground;
}
